{% extends 'master' %}

{% block content %}
  <a href="/"><- back</a>
  {{ form.open({ action: 'UserController.login' }) }}
      {{ csrfField }}
      <div>
        {{ form.label('email', 'Email') }}
        {{ form.text('email') }}
      </div>
      <div>
        {{ form.label('password', 'Password') }}
        {{ form.password('password') }}
      </div>
      <div>
        {{ form.submit('Log in') }}
      </div>
  {{ form.close() }}
{% endblock %}
