{% extends 'master' %}

{% block content %}
  {{ form.open({ action: 'UserController.index' }) }}
      {{ csrfField }}
      <div>
        {{ form.label('username', 'User name') }}
        {{ form.text('username') }}
      </div>
      <div>
        {{ form.label('password', 'Password') }}
        {{ form.password('password') }}
      </div>
      <div>
        {{ form.submit('Log in') }}
      </div>
  {{ form.close() }}
{% endblock %}
