<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Twitter Clone - ITEC 425</title>

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900' rel='stylesheet' type='text/css'>
  <link rel="icon" href="/assets/favicon.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="style.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css"/>
</head>
<body>
  <br/>
  <header class="row">
    <nav class="">
      <h3 id="logo" class="small-4 columns">
        <a href="/">
          Twittah
          <small><span id="homeIcon" class="hide">Home</span></small>
        </a>
      </h3>
      <div id="search" class="small-8 columns">
        {% include 'user/search' %}
      </div>
      {#<ul class="menu small-9 columns">#}
        {#{% if currentUser %}#}
          {#<li>#}
            {#<a href="/home">Home</a>#}
          {#</li>#}
          {#<li>#}
            {#<a href="/logout">Log out</a>#}
          {#</li>#}
        {#{% else %}#}
          {#<li>#}
            {#<a href="/register">Register</a>#}
          {#</li>#}
        {#{% endif %}#}
      {#</ul>#}
    </nav>
  </header>

  {% if old('messages') %}
  <section class="callout success small">
    <ul>
    {% for message in old('messages') %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  </section>
  {% endif %}

  {% if old('errors') %}
    <section class="row">
      <div class="callout alert small">
          <ul>
          {% for error in old('errors') %}
            <li>{{ error.message }}</li>
          {% endfor %}
          </ul>
      </div>
    </section>
  {% endif %}

  <section>
    <div class="__wrapper row">
      {% block content %}{% endblock %}

      {% block footer %}
      {% endblock %}
    </div>
  </section>

<script type="text/javascript">
  $('#logo').hover(function(){
      if($('#homeIcon').hasClass('hide')){
          $('#homeIcon').removeClass('hide');
      }
      else
          $('#homeIcon').addClass('hide');
  });
</script>

</body>
</html>
