<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Twitter Clone - ITEC 425</title>

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900' rel='stylesheet' type='text/css'>
  <link rel="icon" href="/assets/favicon.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/css/foundation.min.css"/>
</head>
<body>

  <header class="row">
    <nav class="small-12 columns">
      <h1 class="small-3 columns"><a href="/">"Twitter"</a></h1>
      <ul class="menu small-9 columns">
        {% if currentUser %}
          <li>
            <a href="/home">Home</a>
          </li>
          <li>
            <a href="/logout">Log out</a>
          </li>
        {% else %}
          <li>
            <a href="/login">Log in</a>
          </li>
          <li>
            <a href="/register">Register</a>
          </li>
        {% endif %}
      </ul>
    </nav>
  </header>

  {% if old('messages') %}
  <section>
    {% for message in old('messages') %}
      <li>{{ message }}</li>
    {% endfor %}
  </section>
  {% endif %}

  {% if old('errors') %}
    <section>
      {% for error in old('errors') %}
        <li>{{ error.message }}</li>
      {% endfor %}
    </section>
  {% endif %}

  <section>
    <div class="__wrapper row">
      {% block content %}{% endblock %}

      {% block footer %}
      {% endblock %}
    </div>
  </section>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.0/js/foundation.min.js"></script>
</body>
</html>
