<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <title>Twitter Clone - ITEC 425</title>

  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900' rel='stylesheet' type='text/css'>
  <link rel="icon" href="/assets/favicon.png" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>

  {% if old('messages') %}
  <section>
    {% for message in old('messages') %}
      <li>{{ message }}</li>
    {% endfor %}
  </section>
  {% endif %}

  {% if old('errors') %}
    <section>
      {% for error in old('errors') %}
        <li>{{ error.message }}</li>
      {% endfor %}
    </section>
  {% endif %}

  <section>
    <div class="__wrapper">
      {% block content %}{% endblock %}

      {% block footer %}
      {% endblock %}
    </div>
  </section>

</body>
</html>
