{% extends 'master' %}

{% block content %}
  <br/>
  <section id="UserHome" class="row" data-sticky-container>
    <div id="user" class="small-12 medium-4 columns sticky"
         data-sticky
         data-margin-top="0"
    >
      <div>
        <div class="clearfix">
          <h3 class="float-left">
            {{ user.firstname + " " + user.lastname }}
            <small>
              &commat; {{ user.username }}
            </small>
          </h3>
          <ul class="dropdown menu" data-dropdown-menu>
            <li>
              <a href="#">+</a>
              <ul class="menu">
                <li><a href="/profile/{{ user.id }}">View Profile</a></li>
                <li><a href="/logout">Log out</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="">
          <div class="row">
            <p class="column small-4"><small>TWEETS</small></p>
            <p class="column small-4"><small>FOLLOWERS</small></p>
            <p class="column small-4"><small>FOLLOWING</small></p>
          </div>
          <div class="row">
            <p class="column small-4">{{ user.tweets_count }}</p>
            <p class="column small-4">{{ user.followers_count }}</p>
            <p class="column small-4">{{ user.following_count }}</p>
          </div>
          <div>
            <p>
              {{ user.description }}
            </p>
          </div>
        </div>
        <hr/>
        <div>
          <h5>New Tweet</h5>
          {{ form.open({action: 'TweetController.store'}) }}
            {{ csrfField }}
            {{ form.textarea('newTweet', '', {placeholder: 'What&apos;s going on?'}) }}
            {{ form.submit('Tweet', '', {class: 'button small expanded'}) }}
          {{ form.close() }}
        </div>
      </div>
    </div>
      <div id="tweets" class="small-12 medium-8 columns">
        {% include 'tweets/tweetList' %}
      {#{% for tweet in tweets %}#}
        {#<article>#}
          {#<p><a href="/profile/{{ tweet.user_id }}">{{ tweet.username }}</a>#}
            {#<small>{{ tweet.dateStr }}</small>#}
            {#{% if tweet.created_at != tweet.updated_at %}#}
              {#<small> Edited</small>#}
            {#{% endif %}#}
          {#</p>#}
          {#<p>#}
            {#{{ tweet.content }}#}
          {#</p>#}
          {#<hr/>#}
        {#</article>#}
      {#{% endfor %}#}
      </div>
  </section>
  {% include 'scripts/foundation' %}


{% endblock %}
