{% extends 'master' %}

{% block content %}
  <br/>
  <section id="UserHome" class="row" data-sticky-container>
    <div id="user" class="medium-4 columns sticky"
         data-sticky
         data-margin-top="6"
    >
        {% include 'user/userInfo' %}

    </div>

    <div id="tweets" class="small-8 columns">
      <div id="new-tweet" class="clearfix">
        {{ form.open({action: 'TweetController.store'}) }}
        {{ csrfField }}
          {{ form.textarea('newTweet', '', {placeholder: 'What&apos;s going on?'}) }}
          {{ form.submit('Tweet', '', {class: 'button small expanded', id: "btnTweetSubmit"}) }}
        {{ form.close() }}
      </div>
      {% include 'tweets/tweetList' %}
    </div>
  </section>
  {#{% include 'scripts/foundation' %}#}


{% endblock %}
