{% extends 'master' %}

{% block content %}
  <br/>
  <section id="UserHome" class="row" data-sticky-container>
    <div id="user" class="small-12 medium-4 columns sticky"
         data-sticky
         data-margin-top="7"
    >
        {% include 'user/userInfo' %}
        <hr/>
        <div>
          <h5>New Tweet</h5>
          {{ form.open({action: 'TweetController.store'}) }}
            {{ csrfField }}
            {{ form.textarea('newTweet', '', {placeholder: 'What&apos;s going on?'}) }}
            {{ form.submit('Tweet', '', {class: 'button small expanded'}) }}
          {{ form.close() }}
        </div>
          <p>&copy; 2017 - Twittah, Inc.</p>
      </div>
    </div>
      <div id="tweets" class="small-12 medium-8 columns">
        {% include 'tweets/tweetList' %}
      </div>
  </section>
  {% include 'scripts/foundation' %}


{% endblock %}
