{% extends 'master' %}

{% block content %}
  <section>
    <h1>Welcome to &quot;Twitter&quot;</h1>
    <a href="/login">Log in</a>
    <br>
    <a href="/register">Register</a>
  </section>
{% endblock %}
