body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  font-weight: lighter;
  /*background: #ffffff;*/
  background: #d1f3fc!important;
  margin: 3em;
}

* {
  padding: 0;
  margin: 0;
}

.__banner {
  background: #744d82;
  background: -moz-radial-gradient(top, ellipse cover, #744d82 11%, #503d67 99%, #503d67 100%);
  background: -webkit-gradient(radial, top center, 0, center center, 100%, color-stop(11%, #744d82), color-stop(99%, #503d67), color-stop(100%, #503d67));
  background: -webkit-radial-gradient(top, ellipse cover, #744d82 11%, #503d67 99%, #503d67 100%);
  background: -o-radial-gradient(top, ellipse cover, #744d82 11%, #503d67 99%, #503d67 100%);
  background: -ms-radial-gradient(top, ellipse cover, #744d82 11%, #503d67 99%, #503d67 100%);
  background: radial-gradient(ellipse at top, #744d82 11%, #503d67 99%, #503d67 100%);
}

.__banner {
  height: 80vh;
  width: 100%;
  padding-bottom: 30px;
  justify-content: center;
  align-items: center;
  display: flex;
  text-align: center;
}

.__banner .banner__inner h1 {
  font-weight: 500;
  font-size: 180px;
  color: #ffffff;
}

.__banner .banner__inner h2 {
  margin-bottom: 25px;
  text-align: center;
  letter-spacing: 3px;
  margin-top: 80px;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 16px;
  color: #ffffff;
}

.__banner .banner__inner p,
.__banner .banner__inner a {
  color: #fff;
  font-size: 24px;
  font-weight: 300;
}

.__banner .banner__inner h2 span {
  display: inline-block;
  margin: 0 30px;
}

.__footer {
  text-align: center;
  position: absolute;
  bottom: 30px;
  margin: auto;
  right: 0;
  left: 0;
}

.__footer ul {
  display: table;
  margin: auto;
}

.__footer li {
  border-left: solid 2px #ccc;
  display: table-cell;
}

.__footer li:first-child {
  border: none;
}

.__footer li a {
  transition: opacity 0.5s;
  text-decoration: none;
  display: inline-block;
  font-weight: bold;
  padding: 0px 30px;
  font-size: 13px;
  opacity: 0.8;
  color: #ccc;
}

.__footer li a:hover {
  opacity: 1;
}

#userInfo{
  padding: 10px 25px 25px 25px;
  background: white;
  width: 90%;
  border-radius: 10px;
  box-shadow: -3px 3px 0px #7a7a7a;
}

#user #headings p{
  margin-bottom: 0;
}

#user .profile-img{
  margin: -20px 10px 10px -10px;
}
.tweet .profile-img{
  margin: 10px;
}

.profile-img{
  border-radius: 50px;
  border: 2px solid white;
}
.profile-img.small{
  width: 25px;
  height: 25px;
}
.profile-img.large{
  width: 85px;
  height: 85px;
}
.profile-img.medium{
  width: 50px;
  height: 50px;
}

#user h3 ~ small{
  display: block;
  margin-top: -3px;
}

.widget{
  font-size: 1.25em;
}

#search-area{
  position: relative;
  margin-left: -15px;
  padding-right: 14px;
}

#search-area input{
  margin: 0;
}

#search-results ul{
  background: white;
  z-index: 1;
  width: 100%;
  position: absolute;
  padding: 0;
  margin: 0;
  border: 1px solid gray;
}
#search-results ul li{
  list-style: none;
  background: white;
  padding: 5px;
  width: 100%;
}
#search-results ul li:hover{
  background: #d1f3fc;
}

#search-results ul li a{
  display: block;
}

#search-results ul li a img{
  display: inline-block;
  margin-right: 15px;
}

#logo small{
  color: white;
}

.tweet{
  background: white;
  cursor: pointer;
  padding: 5px;
  margin-top: -1px;
  border-top: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  border-bottom: 1px solid lightgrey;
}
.tweet:hover{
  background: #d1f3fc;
}
.tweet-meta{
  padding: 10px 0px 0px 0px;
}
.tweet p:first-child{
  margin-bottom: 0
}
.tweet hr{
  margin: 20px 0 0 0;
}

header{
  /*background: white;*/
}
header nav{
  padding-top: 20px;
}

#new-tweet{
  padding: 10px 10px 0 10px;
  background: #eaeaea;
  border: 1px solid lightgrey;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
#btnTweetSubmit{
  display: inline-block;
  margin-top: -10px;
}
.text-tiny{
  font-size: 0.5em;
}
.text-small{
  font-size: 0.75em;
}
.text-large{
  font-size: 1.5em;
}

