<div class="reveal" data-reveal id="modal-deactivate">
  <h5>Are you sure?</h5>
  <p>You can always come back later, but we hate to see you go.</p>
  {{ form.open({action: 'UserController.deactivate'}) }}
  {{ csrfField }}
  {{ form.submit('Deactivate my account', '', {class: 'button hollow alert small-6 column'}) }}
  {{ form.close() }}
  <button class="small-6 column button hollow" data-close aria-label="Cancel" type="button">Cancel</button>
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
