{% extends 'master' %}

{% block content %}
  <br/>
  <section id="UserProfile" class="row">

    <div id="user" class="small-12 medium-4 columns">
      <div>
        {{ form.open({ action: 'UserController.update', params: {id: user.id} }) }}
          {{ csrfField }}

          {{ form.label('firstname', 'First Name') }}
          {{ form.text('firstname', user.firstname) }}

          {{ form.label('lastname', 'Last Name') }}
          {{ form.text('lastname', user.lastname) }}

          {{ form.label('description', 'About me') }}
          {{ form.textarea('description', user.description, {placeholder: "Tell us about yourself!"}) }}

      </div>
      <nav class="">
        <a class="small-6 column hollow button secondary" href="/profile/{{ user.id }}">Cancel</a>
        {{ form.submit('Save Changes', '', {class: 'button column small-6 success'}) }}
      </nav>
      {{ form.close() }}
    </div>

  </section>

{% endblock %}
