{% extends 'master' %}

{% block content %}
  <br/>
  <section id="UserProfile" class="row" data-sticky-container>
    <div id="user"
         class="small-12 medium-4 columns sticky"
         data-sticky
         data-margin-top="6"
    >
      <div>
          {% include 'user/userInfo' %}
      </div>
    </div>
    <div id="tweets" class="small-12 medium-8 columns">
        {% include 'tweets/tweetList' %}
    </div>
  </section>

  {% include 'scripts/foundation' %}

{% endblock %}
