{% if currentUser %}
<div id="search-area">
  <input type="text" id="search" name="search" placeholder="Search Twittah users"/>
  <div id="search-results" class="hide">
    <ul>
      {# search results pop up here #}
    </ul>
  </div>
</div>
<script type="text/javascript">
  $('#search').keyup(function(e){
      if(e.keyCode !== 9){
        if($('input#search').val() !== ""){
          $('#search-results > ul').empty();
          var searchTerm = $('input#search').val();
          $('#search-results > ul').removeClass('hide');
          $.ajax({
            type: "GET",
            url: "/search",
            data: {'search': searchTerm},
          }).done(function(r){
            for(var user in r){
              var el =
                "<li>" +
                "<a href='/profile/" + r[user].id + "'>"  +
                "<img class='small profile-img' src='" + r[user].profile_img_path + "'/>" +
                r[user].firstname + " " + r[user].lastname + " " +
                "&commat; " + r[user].username +"</a>" +
                "</li>";
              $('#search-results > ul').append(el);
              $('#search-results').removeClass('hide');
            }
          });
        }
        else{
          $('#search-results > ul').empty();
          $('#search-results > ul').addClass('hide');
        }
      }

  });
</script>
{% endif %}


