
{% if tweets.message %}
<article>{{ tweets.message }}</article>
{% else %}
    {% for tweet in tweets %}
      <article class="tweet" id="{{ tweet.id }}">
        <p class="">
          <a href="/profile/{{ tweet.user_id }}">{{ tweet.username }}</a>
          <small>{{ tweet.dateStr }}</small>
          {% if tweet.created_at != tweet.updated_at %}
            <small> Edited</small>
          {% endif %}
        </p>
        <p>
          {{ tweet.content }}
        </p>
        <hr/>
      </article>
    {% endfor %}
{% endif %}

{#<div class="reveal" data-reveal id="modal-tweet">#}
<div class="reveal" id="modal-tweet">
  <button class="close-button" data-close aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
  <br/>
  <h5 class="" id="tweet-user"><small>&commat; <span id="tweet-name"></span></small></h5>
  <div class="">
    <p id="tweet-content"></p>
    <form method="POST" id="tweet-edit-form" enctype="application/x-www-form-urlencoded">
      {{ csrfField }}
      <textarea id="tweet-content-textarea" name="content" class="hide"></textarea>
      <button id="tweet-submit" type="submit" class="button hide small-12 column">Update</button>
    </form>
  </div>
  <div>
    <form method="POST" id="tweet-delete-form" enctype="application/x-www-form-urlencoded">
      <a href="#" id="tweet-edit-btn" class="small-3 columns button hollow tiny float-left hide">Edit</a>
      <button type="submit" class="button hollow alert tiny small-3 columns float-left" id="tweet-delete-btn" class="hide">Delete</button>
    </form>
  </div>
</div>

<script type="text/javascript">
  var $modal = $('#modal-tweet');

  $('#tweet-edit-btn').click(function(){
    if($(this).text() === "Edit"){
      $(this).text('Cancel edit');
      $modal.find('#tweet-content-textarea').removeClass('hide');
      $modal.find('#tweet-content').addClass('hide');
      $modal.find('#tweet-submit').removeClass('hide');
    }
    else{
      $(this).text('Edit');
      $modal.find('#tweet-content').removeClass('hide');
      $modal.find('#tweet-content-textarea').addClass('hide');
      $modal.find('#tweet-submit').addClass('hide');
    }
  });

  $('.tweet').click(function(e){
      if(e.target.tagName !== 'A'){
        $modal.foundation('open');
        var route = "/getTweet/" + $(this).attr('id');
        $.ajax(route).done(function(r){
            if(r.author){
                $modal.find('#tweet-edit-btn').removeClass('hide');
                $modal.find('#tweet-delete-btn').removeClass('hide');
            }
            else{
                $modal.find('#tweet-edit-btn').addClass('hide');
                $modal.find('#tweet-delete-btn').addClass('hide');
            }
          $modal.find('#tweet-user').html(r.username);
          $modal.find('#tweet-content').html(r.content);
          $modal.find('#tweet-content-textarea').text(r.content);
          $modal.find('#tweet-edit-form').attr('action', '/tweet/' + r.id + '?_method=PUT');
          $modal.find('#tweet-delete-form').attr('action', '/tweet/' + r.id + '?_method=DELETE');
          var csrf = $modal.find('#tweet-edit-form').find('input[type="hidden"]').attr('value');
          $modal.find('#tweet-delete-form').append("<input type='hidden' name='_csrf' value='" + csrf + "'/>");
        });
      }
  });

</script>
